/*
#####################################
  Start of Calendar header styling
#####################################
*/

.custom-tui-calendar .toastui-calendar-week-view-day-names {
  overflow-y: hidden !important;
}

.custom-tui-calendar .custom-day-name {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  height: 5rem;
}

.custom-tui-calendar .custom-day-name > span {
  display: block;
  color: #000e1897 !important;
  line-height: 20px;
}

.custom-tui-calendar .custom-day-name[data-today="true"] > span {
  color: #30a46c;
}

.custom-tui-calendar .custom-day-name b {
  color: #2b323b !important;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 20px;
  height: 38px;
  position: relative;
}

.custom-tui-calendar .custom-day-name[data-today="true"] b {
  color: #fff !important;
}

.custom-tui-calendar .custom-day-name > b > span {
  position: relative;
  z-index: 20;
}

.custom-tui-calendar .custom-day-name[data-today="true"] b::before {
  position: absolute;
  top: 0;
  z-index: 10;
  display: block;
  content: "";
  width: 38px;
  height: 38px;
  background-color: #30a46c;
  border-radius: 100%;
}

.custom-tui-calendar div[data-testid="grid-header-week"],
.custom-tui-calendar .toastui-calendar-week-view-day-names {
  border: 0 !important;
}

.custom-tui-calendar .toastui-calendar-week-view-day-names {
  height: 5rem !important;
}

.custom-tui-calendar .toastui-calendar-week {
  height: auto !important;
}

.custom-tui-calendar .toastui-calendar-day-name-item {
  margin-top: -1px;
  border-bottom: 1px solid #e5e5e5;
}

/*
#####################################
  End of Calendar header styling
#####################################
*/

.custom-tui-calendar .toastui-calendar-timegrid-time > span,
.custom-tui-calendar .toastui-calendar-timegrid-current-time > span,
.custom-tui-calendar .toastui-calendar-template-time {
  font-weight: 500;
  font-size: 12px;
}

.custom-tui-calendar .toastui-calendar-timegrid-time > span {
  color: #000e1897 !important;
}

.custom-tui-calendar .toastui-calendar-template-time {
  text-wrap: wrap;
}

.custom-tui-calendar .toastui-calendar-timegrid {
  height: 150%;
}

/*
###################################
  Start of Calendar sides styling
###################################
*/

.custom-tui-calendar .toastui-calendar-panel.toastui-calendar-time {
  scrollbar-width: thin;
}

.custom-tui-calendar .toastui-calendar-day-name-container {
  margin-left: 42px !important;
}

.custom-tui-calendar .toastui-calendar-columns {
  left: 42px !important;
}

.custom-tui-calendar .toastui-calendar-timegrid-time-column {
  width: 42px !important;
}

/*
###################################
  End of Calendar sides styling
###################################
*/
